@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-inline: 20px;
}

h1 {
  color: #374151;
}

// Hero Banner 
.hero-banner-pagination {
  .swiper-pagination {
    position: relative;
    margin-top: 38px;
  }
}

.pagination-style1 {
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    position: relative;
    background: #ff4500;

    &::after {
      content: "";
      border: 1px solid #ff4500;
      width: 16px;
      height: 16px;
      position: absolute;
      border-radius: 50%;
      top: -4px;
      left: -4px;
    }
  }
    .swiper-pagination-bullet{
      background: orange;
      opacity: 1;
    }
                
}